.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* h1{
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px;
    margin: 50px;
    color: white;

} */

h5 {
    font-size: 16px;
}

.tablero {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 600px;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #F3F0E9;
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #414141;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    /* color: #fed85d; */
    color:white;
    justify-content: center;
    align-items: center
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

body {
    background: #880C25 !important;
}
.navbar{
    background: #F3F0E9;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 1px 3px 4px 0 #adadad33;
}
.navbar-light .navbar-brand {
    color: #710117;
}
.navbar-light .navbar-nav .nav-link {
    color: #192226;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #13292A;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link{
    padding-top: 22px;
    padding-bottom: 22px;
    transition: 0.3s;
    padding-left: 24px;
    padding-right: 24px;
        font-size: 15px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    background: #13292A;
    transition: 0.3s;
}
.dropdown-item:focus, .dropdown-item:hover {
   color: #fff;
   text-decoration: none;
   background-color: #13292A !important;
}
.sm-menu{
   border-radius: 0px;
   border: 0px;
   top: 97%;
   box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}
.dropdown-item {
   color: #3c3c3c;
       font-size: 14px;
}
.dropdown-item.active, .dropdown-item:active {
   color: #fff;
   text-decoration: none;
   background-color: #2196F3;
}
.navbar-toggler{
   outline: none !important;
}
.navbar-tog{
   color: #4e9597;
}
.megamenu-li {
   position: static;
}

.megamenu {
   position: absolute;
   width: 100%;
   left: 0;
   right: 0;
   padding: 15px;
}
.megamenu h6{
   margin-left: 21px;
}
.megamenu i{
   width: 20px;
}